.contacts {
  padding-top: 152px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 29px;
  margin-left: 41.8%;
  margin-right: 42.5%;

  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  color: $font-color-title;
  letter-spacing: -0.005em;
}

.contacts__address {
  width: 38.54%;
  margin: 0;
  margin-left: 30.2%;
  margin-right: 31.25%;
  margin-bottom: 40px;

  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 31px;
  color: $font-color-contacts;
}

.contacts__map-wrapper {
  position: relative;

  width: 957px;
  margin: 0 auto;
}

.contacts__img-container {
  position: relative;
  z-index: -1;

  display: flex;
  width: 100%;

  picture {
    display: block;
    width: 100%;
  }

  img {
    display: block;
    width: 100%;
    max-height: 957px;

    object-fit: cover;
    font-family: 'object-fit: cover;';
  }
}

.contacts__map-iframe {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  border: none;
}

.contacts__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 957px;
  margin: 0 auto;
  margin-bottom: 98px;
  padding-left: 197px;
  padding-right: 213px;
}

.contacts__item {
  margin-top: 39px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.contacts__link {
  position: relative;

  color: $font-color-contacts-link;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &--mail {
    padding-left: 41px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      display: block;
      width: 26px;
      height: 20px;

      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;

      transform: translate(0, -50%);
    }
  }

  &--phone {
    padding-left: 34px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      display: block;
      width: 19px;
      height: 25px;

      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;

      transform: translate(0, -50%);
    }
  }
}

@media (max-width: $desktop-width-only-wide) {
  .contacts__title {
    margin-left: auto;
    margin-right: auto;

    text-align: center;
  }

  .contacts__address {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    padding-top: 70px;
  }

  .contacts__title {
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;

    text-align: center;
    font-size: 24px;
  }

  .contacts__address {
    width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .contacts__map-wrapper {
    width: 90.88%;
  }

  .contacts__img-container {
    img {
      width: 100%;
      min-height: 545px;
    }
  }

  .contacts__map-iframe {
    min-height: 545px;
  }

  .contacts__list {
    width: 90.88%;
    margin-bottom: 23px;
    padding-left: 70px;
    padding-right: 81px;
  }

  .contacts__item {
    margin-top: 22px;
  }

  .contacts__link {
    &--mail {
      padding-left: 41px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;

        display: block;
        width: 26px;
        height: 20px;

        background-image: url("../img/icon-mail.svg");
        background-repeat: no-repeat;

        transform: translate(0, -50%);
      }
    }

    &--phone {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;

        display: block;
        width: 19px;
        height: 25px;

        background-image: url("../img/icon-phone.svg");
        background-repeat: no-repeat;

        transform: translate(0, -50%);
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .contacts__title {
    margin-bottom: 21px;

    font-size: 18px;
  }

  .contacts__address {
    width: 80%;
    margin-bottom: 18px;
  }

  .contacts__map-wrapper {
    width: 100%;
  }

  .contacts__img-container {
    img {
      width: 100%;
      min-height: 250px;
      max-height: 250px;
    }
  }

  .contacts__map-iframe {
    min-height: 250px;
    max-height: 250px;
  }

  .contacts__list {
    width: 100%;
    margin-top: 31px;
    margin-bottom: 23px;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }

  .contacts__item {
    width: 100%;
    margin-top: 0;
    margin-bottom: 24px;

    text-align: center;

    &:last-child {
      margin-bottom: 35px;
    }
  }

  .contacts__link {
    &:hover,
    &:active {
      opacity: 1;
    }

    &--mail {
      padding-left: 49px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 9px;

        display: block;
        width: 26px;
        height: 20px;

        background-image: url("../img/icon-mail.svg");
        background-repeat: no-repeat;

        transform: translate(0, -50%);
      }
    }

    &--phone {
      padding-left: 26px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -9px;

        display: block;
        width: 19px;
        height: 25px;

        background-image: url("../img/icon-phone.svg");
        background-repeat: no-repeat;

        transform: translate(0, -50%);
      }
    }
  }
}
