.features {
  padding-top: 151px;
  padding-bottom: 111px;
}

.features__title {
  margin: 0;
  margin-bottom: 49px;
  padding-left: 38.05%;
  padding-right: 36.8%;

  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $font-color-title;
}

.features__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  width: 81%;
  margin: 0 auto;
}

.features__item {
  width: 22.55%;
  margin-right: 3.26%;
  margin-bottom: 38px;

  text-align: center;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &--wide {
    .features__number {
      margin-bottom: 18px;
    }
  }
}

.features__number {
  margin: 0;
  margin-bottom: 15px;

  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.27px;
  color: $theme-color;
}

.features__description {
  margin: 0;

  font-size: 22px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $font-color-primery-dark;

  &--delivery {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: $tablet-width) {
  .features {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .features__title {
    margin: 0;
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;

    text-align: center;
    font-size: 24px;
    line-height: 41px;
  }

  .features__list {
    width: 72.4%;
  }

  .features__item {
    width: 47.3%;
    margin-right: 30px;
    margin-bottom: 40px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &--wide {
      .features__number {
        margin-bottom: 18px;
      }
    }
  }

  .features__number {
    margin-bottom: 15px;
  }
}

@media (max-width: $mobile-width) {
  .features {
    padding-bottom: 0;
  }

  .features__list {
    width: 82.18%;
  }

  .features__title {
    margin-bottom: 33px;
  }

  .features__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 61px;

    font-family: "Overpass", "Arial", sans-serif;

    &--wide {
      margin-bottom: 33px;

      .features__number {
        margin: 0;
        margin-bottom: 16px;
      }

      .features__description {
        margin: 0;

        font-size: 18px;
        letter-spacing: 0;
      }
    }

    &:last-child {
      margin-bottom: 79px;
    }
  }

  .features__number {
    margin: 0;
    margin-bottom: 6px;
  }

  .features__description {
    margin: 0;

    font-size: 18px;
    letter-spacing: 0;

    &--delivery {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
