$font-color-primery-light: #ffffff;
$font-color-primery-dark: #000000;
$font-color-input: rgba(28, 28, 28, 0.5);
$font-color-title: #1f1f1f;
$font-color-text: rgba(255, 255, 255, 0.7);
$font-color-nav-mobile: #48494d;
$font-color-contacts: rgba(0, 0, 0, 0.7);
$font-color-contacts-link: rgba(0, 0, 0, 0.5);
$bg-nav-mobile: #f6f6f6;
$bg-bikes: #f6f7f9;
$bg-video: #131314;
$theme-color: #0ad9c6;
$border-color: #c9ccd4;
$toggle-color: rgba(20, 21, 23, 0.2);

$desktop-width-only-wide: 1437px;
$desktop-width-only: 1240px;
$tablet-width: 1023px;
$mobile-width: 767px;

$retina-dppx: 1.5dppx;
